<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Advanced Search</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/">Google Search</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <body>
        <div>
            <form action="https://google.com/search">
                <div class="adv-searchbars">
                    <div class="div-marg">
                        <div class="adv-div">
                            <label class="adv-labels">
                                all these words:
                            </label>
                        </div>
                        <div class="adv-div2">
                            <input class="adv-srch" type="text" name="as_q">
                        </div>
                    </div>
                    <div class="div-marg">
                        <div class="adv-div">
                            <label class="adv-labels">
                                this exact word or phrase:
                            </label>
                        </div>
                        <div class="adv-div2">
                            <input class="adv-srch" type="text" name="as_epq">
                        </div>
                    </div>
                    <div class="div-marg">
                        <div class="adv-div">
                            <label class="adv-labels">
                                any of these words:
                            </label>
                        </div>
                        <div class="adv-div2">
                            <input class="adv-srch" type="text" name="as_oq">
                        </div>
                    </div>
                    <div class="div-marg">
                        <div class="adv-div">
                            <label class="adv-labels">
                                none of these words:
                            </label>
                        </div>
                        <div class="adv-div2">
                            <input class="adv-srch" type="text" name="as_eq">
                        </div>
                    </div>
                    <div>
                        <div>
                            <input class="adv-button" type="submit" value="Advanced Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
