<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="image-search">Image Search</a></li>
                    <l1><a href="adv-search">Advanced Search</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <body>
        <div class="center-boxes">
            <img class="g-image" src="../static/gimage.png">
            <form action="https://google.com/search">
                <div>
                    <input class="search-bar" type="text" name="q">
                </div>
                <div class="center">
                    <input class="g-search" type="submit" value="Google Search">
                    <input class="lucky" type="submit" value="I'm Feeling Lucky">
                </div>
            </form>
        </div>
    </body>
</html>
